<?php
declare(strict_types=1);


namespace Itineris\TrellisPurgeWPRocketCacheDuringDeploy;

/**
 * @see https://github.com/ItinerisLtd/trellis-purge-wp-rocket-cache-during-deploy
 */
function clear_cache_run_preload() {
    // Clear global cache.
    if (function_exists( 'rocket_clean_domain' )) {
        rocket_clean_domain();
    }

    // Run preload (bot + sitemap as configured).
    if (function_exists( 'run_rocket_preload_cache' )) {
        run_rocket_preload_cache( 'cache-preload' );
    }
}

clear_cache_run_preload();
